@page
@model LogoutModel
@{
    ViewData["Title"] = "تسجيل الخروج";
}

<header style="font-family: Cairo;direction:rtl">
    <h1 style="font-family: Cairo;direction:rtl">@ViewData["Title"]</h1>
    <p>تم تسجيل الخروج بنجاح</p>
</header>